body{
    margin: 0;
    padding: 0;
}
.container{
    width: 50%;
    height: 100vh;
    margin: auto;
    background-color: #a9a9a9;
}
.image{
    width: 100%;
    text-align: center;
}
img{
    width: 500px;
    margin-top: 50px;
}
h1{
    text-align: center;
    font-size: 20px;
    color: red;
}
h1:hover{
    color: black;
    cursor: pointer;
}